<div class="form-group">
    <label for="price" class="col-lg-1 col-md-1">价格</label>
    <div class="col-lg-6 col-md-6">
        <label class="radio-inline">
            <input type="radio" name="price" id="style0" value="-" checked> 全部
        </label>
        <label class="radio-inline">
            <input type="radio" name="price" id="low" value="-2000"> 2000 以下
        </label>
        <label class="radio-inline">
            <input type="radio" name="price" id="mid" value="2000-4000"> 2000-4000
        </label>
        <label class="radio-inline">
            <input type="radio" name="price" id="high" value="4000-"> 4000 以上
        </label>
    </div>
</div>
