{% extends "base.html" %}

{% block title %}
<title>选择{{ disp_name }}供应商</title>
{% endblock %}

{% block content %}

<div>
    <h2>选择 {{ disp_name }} 供应商</h2>

    <div class="row">
        {% for item in data_set %}
        <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="thumbnail">
                <img src="{{ item.avatar.url }} "></img>

                <div class="caption">
                    <h3> {{ item.name }} </h3>
                    <p> 电话: {{ item.phone}} </p>
                    <p> {{ item.desc|slice:":100" }} </p>
                    <p>
                        <a href="{%url "update_p_wed" c_type item.id %}" type="button" class="btn btn-danger">选择</a>
                    </p>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}
