<div class="row">
    {% for item in data_set %}
    <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="thumbnail">
            <img src="{{ item.avatar.url }} "></img>
            <div class="caption">
                <h3>
                    {{ item.name }}
                    <span class="pull-right">￥{{ item.price }} </span>
                </h3>
                <p>
                    {{ item.desc }}
                </p>
                <p>
                    <a href="{% url "add_to_cart" item.product_key %}" class="btn btn-primary" role="button">加入购物车</a>
                    <a href="#" class="btn btn-default" role="button">看他档期</a>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
