{% for para, v in paras.items %}
<div class="form-group">
    <label for="{{ para }}" class="col-lg-1 col-md-1"> {{ v.disp_name }}</label>
    <div class="col-lg-6 col-md-6">
        <label class="radio-inline">
            <input type="radio" name="{{ para }}" value="all"> 全部
        </label>
        {% for raw, disp in v.values %}
        <label class="radio-inline">
            <input type="radio" name="{{ para }}" value="{{ raw }}"> {{ disp }}
        </label>
        {% endfor %}
    </div>
</div>
{% endfor %}
