{% extends "base.html" %}

{% block title %}
<title>我的 NuoNuo </title>
{% endblock %}

{% block content %}

<div class="cart-item">
    <h3>我的购物车</h3>

    <table class="table table-bordered">
        <thead>
            <tr>
                <td>商品类型</td>
                <td>名称</td>
                <td>数量</td>
                <td>价格</td>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_data %}
            <tr>
                <th>{{ item.content_type }}</th>
                <th>{{ item.content_object.name }}</th>
                <th>{{ item.amount }}</th>
                <th>￥{{ item.content_object.price }}</th>
            </tr>
            {% endfor %}
        </tbody>
        </table>
</div>

{% endblock %}
