{% extends "base.html" %}

{% block title %}
<title>选择花艺</title>
{% endblock %}

{% block content %}

<div id="makeup">
    <h2>花艺</h2>

    <form action="{% url "flower_filter" %}" class="form-horizontal" method="GET"> {% csrf_token %}

        <div class="form-group">
            <label for="wed-style" class="col-lg-1 col-md-1">专业</label>
            <div class="col-lg-6 col-md-6">
                <label class="radio-inline">
                    <input type="radio" name="wed_style" id="style0" value="all" checked> 不限
                </label>
                <label class="radio-inline">
                    <input type="radio" name="wed_style" id="style1" value="chinese"> 中式
                </label>
                <label class="radio-inline">
                    <input type="radio" name="wed_style" id="style2" value="west"> 西式
                </label>
            </div>
        </div>

        <button type="submit" class="btn btn-default">提交</button>
    </form>

</div>

{% endblock %}
