{% extends "base.html" %}

{% block title %}
<title> Home </title>
{% endblock %}

{% block content %}

<div id="makeup">
    <h2>化妆师</h2>

    <form action="{% url "makeup_filter" %}" class="form-horizontal" method="GET"> {% csrf_token %}
        <div class="form-group">
            <label class="checkbox-inline">
                <input type="checkbox" id="extra-hair" name="extra_hair" value="1"> 盘头
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" id="extra-decro" name="extra_decro" value="1"> 提供饰品
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" id="extra-dress-mum" name="extra_dress_mum" value="1"> 包含妈妈装
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" id="extra-dress-peer" name="extra_dress_peer" value="1"> 包含伴娘装
            </label>
        </div>

        <div class="form-group">
            <label class="radio-inline">
                <input type="radio" name="gender" id="gender3" value="all" checked> 不限
            </label>
            <label class="radio-inline">
                <input type="radio" name="gender" id="gender1" value="man"> 男
            </label>
            <label class="radio-inline">
                <input type="radio" name="gender" id="gender2" value="female"> 女
            </label>
        </div>

        <button type="submit" class="btn btn-default">提交</button>
    </form>

</div>

{% endblock %}
