<div class="form-group">
    <label for="mc-style" class="col-lg-1 col-md-1">价格</label>
    <div class="col-lg-6 col-md-6">
        <label class="radio-inline">
            <input type="radio" name="price" id="style0" value="all" checked> 全部
        </label>
        <label class="radio-inline">
            <input type="radio" name="price" id="low" value="1"> 2000 以下
        </label>
        <label class="radio-inline">
            <input type="radio" name="price" id="mid" value="2"> 2000-4000
        </label>
        <label class="radio-inline">
            <input type="radio" name="price" id="high" value="3"> 4000 以上
        </label>
    </div>
</div>
