<ul class="nav nav-pills nav-stacked">

    <li role="presentation"> <a href="{% url "expert_home" "mc" %}">司仪</a> </li>
    <li role="presentation"> <a href="{% url "expert_home" "makeup" %}">化妆师</a> </li>
    <li role="presentation"> <a href="{% url "expert_home" "photographer" %}">摄影师</a> </li>
    <li role="presentation"> <a href="{% url "expert_home" "vedioguys" %}">摄像师</a> </li>

    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
            花艺 <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            {% for id, name in flower_cate %}
                <li role="presentation"> <a href="{% url "product_home" "flower" id %}">{{ name }}</a> </li>
            {% endfor %}
        </ul>
    </li>
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
            AV <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            {% for id, name in av_cate %}
                <li role="presentation"> <a href="{% url "product_home" "av" id %}">{{ name }}</a> </li>
            {% endfor %}
        </ul>
    </li>
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
            舞台效果<span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            {% for id, name in stage_cate %}
                <li role="presentation"> <a href="{% url "product_home" "stage" id %}">{{ name }}</a> </li>
            {% endfor %}
        </ul>
    </li>
</ul>
