<form action="{% url "update_expert" item.id %}" class="form-inline">
    {% with p=item.content_object.charge_arm %}

    <div>
    摇臂
    {% if p == -1 %}
        不提供该服务
    {% else %}
        {% if p == 0 %} 免费 {% else %} ￥ {{ p }} {% endif %}
    {% endif %}
    </div>

    <div>
    {% if p > -1 %}
        <label class="radio-inline">
            <input type="radio" name="arm" id="arm-on" value="1"
            {% if item.need_arm %} checked {% endif %}
            > 需要
        </label>
        <label class="radio-inline">
            <input type="radio" name="arm" id="arm-off" value="0"
            {% if not item.need_arm %} checked {% endif %}
            > 不需要
        </label>
    {% endif %}
    </div>

    {% endwith %}
    <button type="submit" class="btn btn-danger">修改</button>
</form>

<div>
总价: ￥{{ item.charge_vedioguys }}
</div>
